#conteneur{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	display: flex;
	align-items: flex-start;
	width: 1080px;}

/*-----------CONTENEUR1-----------*/

.conteneur1{
	background-color: #CF872F;
	width: 380px;
	height: 1000px;
	border: solid 1px black;}



	/*-----------Texte conteneur 1-----------*/

.conteneur1 h3{
	text-align: center; 
	font-weight: normal;
	color: white;
	background-color: black;
	line-height: 35px;
	font-size: 1.75em; }

.conteneur1 p{
	color: white;}

.conteneur1 img{
	border-radius: 300px;
	box-shadow: 0px 0px 10px #000;
	position: relative;
	top: 10px;
	left: 50px;}

	#contact{
		margin-left: 35px;
		font-size: 1.2em}

	#aproposdemoi{
		width: 300px;
		height: 25%;
		margin-left: 35px;
		margin-right: 35px;
		text-align: justify;
		font-size: 1.2em;}

	.pictogramme{
		margin-left: 80px;
		display: flex;
		justify-content: space-around;
		font-size: 50px;
		width: 220px;
		display: flex-start;}

		#swim{
			border-radius: 100%;
			padding: 3%;
			border: 2px solid black;}

		#musculation{
			border-radius: 80px;
			padding: 3%;
			border: 2px solid black;
		}


/*-----------conteneur 2-----------*/

#conteneur2{
	width: 670px;
	height: 1000px;
	margin-left: 30px; }


.trait{
	height: 2px;
	width: 70px;
	margin-top: -25px;
	background-color: #CF872F;}

/*-----------en-tête-----------*/

#haut{
	width: 400px;
	font-size: 25px;
	}

#color{
	text-align: left;
	color: #CF872F;}

#surligne{
	width: 150px;
	border-bottom: solid 1px #CF872F;
}

/*-----------conteneur 3-----------*/

#conteneur3{
	font-size: 14px;
	position: relative;
	top: 100px;
	width: 670px;
	height: 700px;}

	.trait2{
		
	}


#conteneur31 h2 i{
	margin-right: 20px;
}

#conteneur31 i{
	color: #CF872F;
}

/*-----------conteneur 32-----------*/

#conteneur32{
	display: flex;
	align-items: space-around;}

.Grey{
	color: #565758;}

.Bold{
	font-weight: normal;
	font-weight: bold;}

.Orange{
	color: #CF872F;
	}

		#conteneur3_2_1{
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		width: 220px;
		height: 200px;}

		#conteneur3_2_1_1{
			position: relative;
			display: flex;
			justify-content: space-around;
			top: 0px;
			width: 100px;
			line-height: 15px;}


		#conteneur3_2_1_2{
			position: relative;
			display: flex;
			justify-content: space-around;
			top: 25px;
			width: 180px;
			line-height: 15px;}

		#conteneur3_2_1_3{
			position: relative;
			display: flex;
			justify-content: space-around;
			top: 45px;
			line-height: 15px;}

		#conteneur3_2_1_4{
			position: relative;
			display: flex;
			justify-content: space-around;
			top: 65px;
			line-height: 15px;}


		#conteneur3_2_2{
			display: flex;
			flex-direction: column;
			margin-left: 10px;
			width: 380px;
			height: 200px;}

			#conteneur3_2_2_1{
				position: relative;
				top: 0px;
				line-height: 15px;}

			#conteneur3_2_2_2{
				position: relative;
				top: 10px;}

			#conteneur3_2_2_3{
				position: relative;
				top: 30px;
				line-height: 15px;}

			#conteneur3_2_2_4{
				position: relative;
				top: 50px;
				line-height: 15px;}

/*-----------conteneur 4-----------*/

#conteneur42{
	display: flex;
	align-items: space-around;}

	#conteneur4_1{
	width: 670px;}

	#conteneur4_1 h2 i{
	margin-right: 20px;}

	#conteneur4_1 i{
		color: #CF872F;}


	#conteneur4_2{
		display: flex;
		flex-direction: column;
		margin-left: 20px;}

		#conteneur4_2_1{
			position: relative;
			display: flex;
			justify-content: space-around;
			width: 140px;}

		#conteneur4_2_2{
			position: relative;
			display: flex;
			justify-content: space-around;
			top: 105px;
			width: 180px;}

		#conteneur4_2_3{
			position: relative;
			display: flex;
			justify-content: space-around;
			top: 180px;
			width: 170px;
			line-height: 15px;}


	#conteneur4_3{
			display: flex;
			flex-direction: column;
			margin-left: 45px;
			width: 380px;
			height: 200px;}


		#conteneur4_3_1{
			position: relative;
			line-height: 15px;}

		#conteneur4_3_2{
			position: relative;
			top: 20px;
			line-height: 15px;}

		#conteneur4_3_3{
			position: relative;
			top: 35px;
			line-height: 15px;}



.puce{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: #CF872F;
}

.puceout {
	width: 10px;
	height: 10px;
	padding: 2px;
	border: 2px solid #CF872F;
	border-radius: 50%;
}



@media all and (max-width: 980px)
{
	#conteneur{
		flex-direction: column;
		width: auto;
		font-size: 0.8em;}

	#conteneur2{
		margin-left: 0px;
		text-align: left;
	}

	#conteneur32{
		width: auto;}

	#conteneur3_2_2_2{
		word-wrap: break-word;
	}

	#conteneur3_2_2_4{
		word-wrap: break-word;
	}
}







