body{
	margin:0px;
}



#conteneurA{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	display: flex;
	align-items: center;
	align-items: flex-start;
	width: 1080px;}

/*-----------CONTENEUR A------------*/

#conteneurA_a{
	background-color: #CF872F;
	width: 380px;
	height: 1430px;}



	/*-----------Texte conteneur A_a-----------*/

		#conteneurA_a h3{
			text-align: center; 
			font-weight: normal;
			color: white;
			background-color: black;
			line-height: 35px;
			font-size: 1.75em; }

		#conteneurA_a p{
			color: white;}

		#image{
			box-sizing: border-box;
			width: 100%;
			text-align: center;
			padding: 10px;}

		#image img{
			border-radius: 50%;
		}

			#contact{
				margin-left: 35px;
				font-size: 1.2em}

			#aproposdemoi{
				width: 300px;
				height: 48%;
				box-sizing: border-box;
				padding-left: 35px;
				margin-right: 35px;
				text-align: justify;
				font-size: 1.2em;}

			.pictogramme{
				display: flex;
				justify-content: space-around;
				align-items: center;
				font-size: 50px;
				width: 100%;
				position: relative;
				top: -9px;}

				#swim{
					border-radius: 100%;
					padding: 2%;
					border: 2px solid black;}

				#musculation{
					border-radius: 100%;
					padding: 2%;
					border: 2px solid black;}


#section{
	width: 100%
}
/*-----------conteneurB-----------*/

			/*-----------en-tête-----------*/

				#haut{
				width: 100%;
				font-size: 25px;}

				#color{
				text-align: left;
				color: #CF872F;}
			/*-----------Fin en-tête-----------*/

#conteneurB{
	font-size: 14px;
	width: 670px;
	height: 1400px;
	margin-left: 30px; }


.trait1{
	height: 2px;
	width: 70px;
	margin-top: -25px;
	background-color: #CF872F;}

/*-----------conteneurC-----------*/

#conteneurC{
	font-size: 14px;
	position: relative;
	top: 90px;
	width: 110%;
	height: 35%;}

	.trait2{
	height: 2px;
    width: 700px;
    background-color: #CF872F;}


	#conteneurC_a h2 i{
		margin-right: 20px;}

	#conteneurC_a i{
		color: #CF872F;}

	.conteneurC_b{
		width: 700px;
    	height: 325px;
    	position: relative;
    	top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;}

		.init1{
			width: 90%;
			display: flex;
			align-items: flex-start;
			justify-content: space-around;}

		.init2{
			width: 33%;
			margin-left: 10px;
			display: flex;}

		.init3{
			display: flex;
			flex-direction: column;
			height: 90%;
			width: 27%;}

	#puceout1{
		margin-left: 20px;}


.Grey{
	color: #565758;}

.Bold{
	font-weight: normal;
	font-weight: bold;}

.Orange{
	color: #CF872F;}



/*-----------conteneur D-----------*/

#conteneurD{
	position: relative;
	width: 110%;
	top: 25px;}

	#conteneurD_a{
	position: relative;
	top: 20px;
	width: 670px;}

	#conteneurD_a h2 i{
	font-size: 20px;
	margin-right: 20px;}

	#conteneurD_a i{
		color: #CF872F;}

	.trait3{
	height: 2px;
    width: 700px;
    background-color: #CF872F;}

	#conteneurD_b{
	width: 735px;
    height: 430px;
    position: relative;
    top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;}

.puce{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: #CF872F;}

.puceout {
	position: relative;
    top: 2px;
    margin-right: 25px;
    width: 10px;
    height: 10px;
    padding: 2px;
    border: 2px solid #CF872F;
    border-radius: 50%;}

/*-----------conteneurE-----------*/

#conteneurE{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 100px;}

	#conteneurE_a h2 i{
		font-size: 20px;
		margin-right: 20px;}

	#conteneurE_a i{
		color: #CF872F;}

	.trait4{
		height: 2px;
    	width: 700px;
    	background-color: #CF872F;}

    #conteneurE_b{
    	width: 610px;
    	margin-left: 20px;
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	position: relative;
    	top: 20px;}















/*-----Media queries------*/

@media all and (max-width: 980px)
{
	#conteneurA{
		flex-direction: column;
		width: auto;}

	h2{
		font-size: 12px;}

	.trait2, .trait3, .trait4{
		width:100%;}

/*----conteneur A----*/

	#conteneurA{
		flex-direction: column;
		width: 100%;}

	#conteneurA_a{
		width: 100%;
		height: 1040px;}

		#aproposdemoi{
			box-sizing: border-box;
    		padding-left: 35px;
    		padding-right: 35px;
			width: 100%;
			height: 26%;}

		.pictogramme{
				display: flex;
				justify-content: space-around;
				align-items: center;
				font-size: 50px;
				width: 100%;}


/*----conteneur B----*/

	#conteneurB{
		width: 100%;
		margin-left: 0px;}


/*---conteneurC---*/

#conteneurC{
	width: 100%;
}

	.conteneurC_b{
		position: relative;
    	top: 30px;
    	height: 392px;
    	width: 100%;}


		.init1{
			width: 100%;
    		height: 24%;
    		display: flex;
    		flex-direction: column;
   			justify-content: space-between;}

		.init2{
			width: 60%;
			margin-left: 10px;
			display: flex;}

		.init3{
			display: flex;
			flex-direction: column;
			margin-left: 53px;
			height: 90%;
			width: 60%;}

/*---conteneurD---*/

	#conteneurD{
		position: relative;
    	width: 100%;
    	top: 10px;}

	#conteneurD_a{
		width: 100%;
		position: relative;
		top:45px;}

	#conteneurD_b{
		width: 100%;
		height: 580px;
		position: relative;
		top: 55px;}

/*---conteneurE_b---*/
	#conteneurE{
		display: flex;
		flex-direction: column;
		position: relative;
		top: 180px;}

	#conteneurE_a{
		position: relative;
		top:-60px;}

	#conteneurE_b{
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	margin-left: 0px;
    	top: -45px;
    	width: 100%;
    	height: 160px;}
}